.spinner {
    text-align: center;
    padding: 10vh 0;
}
.topic {
    display: flex;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    transition: all 0.3s;
}
@media only screen and (max-width: 767px) {
    .topic {
        display: block;
    }
}
.topic:hover {
    background: rgb(231, 237, 243);
}
.topic-avatar {
    flex: 1;
}
.topic-avatar img {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}
.topic-body {
    flex: 10;
}
.topic-body h3 {
    color: #667d99;
    font-size: 16px;
    font-weight: bold;
}
.topic-body p {
    color: #787878;
}
.topic-last-user {
    font-weight: bold;
}
.topic-controls {
    flex: 6;
    text-align: right;
}
@media only screen and (max-width: 767px) {
    .topic-controls {
        margin-top: 8px;
    }
}

.topic-tag {
    color: #333;
    font-size: 13px;
    display: inline-block;
    padding: 3px 5px;
    margin: 0 3px;
    border-radius: 3px;
    background: #eee;
    transition: all 0.3s;
}
.topic-tag:hover {
    background: #e7672e;
    color: #fff;
}
.topic-summary {
    display: inline-block;
    padding-left: 15px;
}
.topic-summary > li {
    display: inline-block;
    width: 45px;
    text-align: left;
}
