.container {
    padding: 30px;
}
.spinner {
    text-align: center;
    padding: 10vh 0;
}
.list-item {
    display: flex;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    transition: all 0.3s;
}
.list-item:hover {
    background: rgb(231, 237, 243);
}
.item-avatar {
    flex: 1;
}
.item-avatar img {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}
.item-main {
    flex: 12;
}
.item-main h3 {
    color: #667d99;
    font-size: 16px;
    font-weight: bold;
}
.item-main p {
    color: #787878;
}
@media only screen and (max-width: 767px) {
    .container {
        padding: 30px 0;
    }
    .item-main {
        padding-left: 5px;
    }
    .item-main p {
        word-break: break-word;
    }
}
